<br></br>
<button><a href='/remove/{{category}}/{{id}}'>Remove</a></button>

<form method='POST' action='/edit/{{category}}/{{id}}'>
    <input placeholder='title' type='text' name='title' value="{{title}}"/>
    <input placeholder='description' type='text' name='description' value="{{description}}"/>
    <input value='Update Item' type='submit' class='btn'>
</form>

        