

<!-- Greeting display-box -->

<div class='grey'>
<div class='row'>

  <div class='col s6'>
    <img class='img-circle z-depth-2' src='images/workspace6.jpg'> 
  </div>

  <div class='greeting'>
    <div class='col s6'>
        <div class='greeting-text'>
            <h2 class='black-text slogan'>Bringing dreams to life</h2>
            <h5 class='black-text'>Tired of work leaving you feeling like no more than another brick in the wall?</h5>
            <p>Brickfield Canvas offers work desks, offices and meeting rooms in a variety of options available for those looking for a new and different location to work at, We offer a fun twist on work with modern styling and innovative ideas, Brickfield Canvas will also host cafe's to fuel people's work efforts!</p>
        </div>
    </div>
  </div>

</div>  
</div>

<div class='flex button-box'>
    <a href='/about#target'><button class="btn user-button btn-large waves-effect waves-light z-depth-3">Learn More</button></a>
    <a href="/facilities#target"><button class="btn user-button btn-large waves-effect waves-light z-depth-3">Book Event</button></a>
    <a href='/rates#target'><button class="btn user-button btn-large waves-effect waves-light z-depth-3">View Rates</button></a>
    <a href='/workspaces#target'><button class="btn user-button btn-large waves-effect waves-light z-depth-3">Join Here</button></a>
</div>

<div class='container'>

    <div class='col s6 center'>
        <h3 class='black-text card-text'><u>Top quality "Green" facilities</u></h3>
        <p class='text-block card-text'>Brickfield Canvas offers you the highest quality services, as well as doing so in the "greenest" way possible... Throughout the building there will be wifi including fibre, solar panels to assist in producing power for the building, and green water solutions to contribute to the water crisis, We've got absolutely everything you need to help keep up productivity</p>
    </div>

</div>

<div class='row image-row'>
    <div class='col s4'><img class='materialboxed row-image z-depth-2' src='images/fibre2.png'/>Fibre wifi</div>
    <div class='col s4'><img class='materialboxed row-image z-depth-2' src='images/solar2.jpg'/>Solar Panels</div>
    <div class='col s4'><img class='materialboxed row-image z-depth-2' src='images/water2.jpg'/>Rainwater harvesting solutions</div>
</div>

<br></br>

<h3><u>Concept images</u></h3>

    <div class='container curve z-depth-3'>
          <div class='carousel carousel-slider center' data-indicators='true'>
              <div class='carousel-item brown black-text z-depth-2' href='#one!'>
                <h2 class='text'>Entrance View</h2>
                <img src='images/new/View001.jpg'>
              </div>
              <div class='carousel-item brown black-text'>
                <h2 class='text'>Parking View</h2>
                <img src='images/new/View002.jpg'>
              </div>
              <div class='carousel-item brown black-text'>
                <h2 class='text'>Elevated View from West</h2>
                <img src='images/new/View003.jpg'>
              </div>
              <div class='carousel-item brown black-text'>
                <h2 class='text'>Courtyard View</h2>
                <img src='images/new/View004.jpg'>
              </div>
              <div class='carousel-item brown black-text'>
                <h2 class='text'>Balcony View</h2>
                <img src='images/new/View005.jpg'>
              </div>
              <div class='carousel-item brown black-text'>
                <h2 class='text'>Sunset View</h2>
                <img src='images/new/View007.jpg'>
              </div>
          </div>
    </div>

<br></br>

<!-- Blog -->

<!--
  <div class="container">
      <h2 class='header center black-text text-lighten-10'>Our Blog</h2>
  </div>

    {{#each blog}}
      <a style='color: black' href='view/blog/{{id}}'>

         <div class='blog-display-cards'>
            <div class='col s12 m4'>
                <div class='card grey'>
                    <div class='card-content'>    
                        <span class='card-title'>{{title}}</span>
                        <p>{{description}}</p>
                        <img class='blog-display-img' src="{{img}}"/>
                    </div>
                </div>
            </div>
        </div>
      </a>
    {{/each}}
-->

<!-- Events --> 

  <div class="container">
      
      <h2 class='header center black-text text-lighten-10'><u>Events Information</u></h2>

      <div class='center black-text'>
        <p>We host events at Brickfield Canvas which are available to the general public, feel free to book an event with us</p>
        <p>Click an event to view it's details</p>
      </div>

  </div>

  <div class='row'>
   {{#each events}}  
    
    <div class='col s4'> 
        <a style='color: black' href='/view/events/{{id}}'>
            <div class='event-dispay-cards'>
                <div class='col s12'>
                    <div class='card brown darken-1'>
                        <div class='card-content'>
                            <span class='card-title black-text'>{{title}}</span>
                            <p class='black-text'>{{description}}</p>
                            <span>{{location}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

   {{/each}}
</div>

    <div id="map"></div>
          <script>

              function initMap() {
                var uluru = {lat: -33.936681, lng: 18.456182};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 14,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }

    </script>

<a href="#" id='myBtn' class="scrollToTop z-depth-5">Back To Top<i class='material-icons left'>arrow_upward</i></a>