
<div class='flex'>
      
      <a href='/'><div class='btn black-text white curve'>Home<i class='material-icons left'>home</i></div></a>
      <a href='/tenants'><div class='btn black-text white curve'>Work Spaces<i class='material-icons left'>airline_seat_recline_normal</i></div></a>
      <a href='/brokers'><div class='btn black-text white curve'>Amenities<i class='material-icons left'>local_cafe</i></div></a>
      <a href='/events'><div class='btn black-text white curve'>Events<i class='material-icons left'>insert_invitation</i></div></a>
      <a href='/about'><div class='btn black-text white curve'>About Us<i class='material-icons left'>group</i></div></a>

</div>

  <p>Click on the item you wish to edit and you'll be taken to that items edit page.</p>
  
  <h1 class='blue-text lighten-1'>Events</h1>

   {{#each events}}  
    <a style='color: black' href='/edit/events/{{id}}' >
        <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2 z-depth-2'>
                    <div class='card-content'>    
                        <span class='card-title white-text'>{{title}}</span>
                        <p class='white-text'>{{description}}</p>
                        <p class='white-text'>{{location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
   {{/each}}

   <a class='btn blue lighten z-depth-5' href='/add/events'>Add Event</a>

    <h1 class='blue-text lighten-1'>Blog Space</h1>

   {{#each tenants}}
   <a style='color: black' href='/edit/tenants/{{id}}' >
        <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2'>
                    <div class='card-content'>    
                        <span class='card-title white-text'>{{title}}</span>
                        <p class='white-text'>{{description}}</p>
                        <img width="330" height="200" src="{{img}}"/>
                    </div>
                </div>
            </div>
        </div>
   </a>
   {{/each}}

<a class='btn blue lighten z-depth-5' href='/add/tenants'>Add Blog</a>

    <h1 class='blue-text lighten-1'>Brokers</h1> 

   {{#each brokers}}
   <a style='color: black' href='/edit/brokers/{{id}}' >
        <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2'>
                    <div class='card-content'>    
                        <span class='card-title white-text'>{{title}}</span>
                        <p class='white-text'>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
   </a>
   {{/each}}

<a class='btn blue lighten z-depth-5' href='/add/brokers'>Add Topic</a>
