
<style>

</style>

  <p>Click on the item you wish to edit and you'll be taken to that items edit page.</p>
  
  <h1 class='blue-text darken-2'>Events</h1>

   {{#each events}}
    
    <a style='color: black' href='/edit/events/{{id}}' >
        <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2 z-depth-2'>
                    <div class='card-content'>    
                        <span class='card-title'>{{title}}</span>
                        <p>{{description}}</p>
                        <p>{{location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

   {{/each}}

   <a class='btn orange darken-3 z-depth-5' href='/add/events'>Add Event</a>

    <h1 class='blue-text darken-2'>Tenants</h1>

   {{#each tenants}}

   <a style='color: black' href='/edit/tenants/{{id}}' >
    <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2'>
                    <div class='card-content'>    
                        <span class='card-title'>{{title}}</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
   </a>

   {{/each}}

<a class='btn orange darken-3 z-depth-5' href='/add/tenants'>Add Blog</a>

    <h1 class='blue-text darken-2'>Brokers</h1> 

   {{#each brokers}}

   <a style='color: black' href='/edit/brokers/{{id}}' >
    <div class='container'>
            <div class='col s12 m4'>
                <div class='card blue darken-2'>
                    <div class='card-content'>    
                        <span class='card-title'>{{title}}</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
   </a>
   
   {{/each}}

<a class='btn orange darken-3 z-depth-5' href='/add/brokers'>Add Topic</a>

<br></br>